*
!/.gitignore
!/README.md
!/LICENSE
!/skills/
!/skills/information-processing/
!/skills/information-processing/README.md
!/skills/information-processing/hgs-company-report-summary/
!/skills/information-processing/hgs-company-report-summary/SKILL.md
!/skills/information-processing/hgs-industry-report-summary/
!/skills/information-processing/hgs-industry-report-summary/SKILL.md
!/skills/research-analysis/
!/skills/research-analysis/README.md
!/skills/research-analysis/hgs-company-deep-research/
!/skills/research-analysis/hgs-company-deep-research/SKILL.md
!/skills/research-analysis/hgs-industry-deep-research/
!/skills/research-analysis/hgs-industry-deep-research/SKILL.md
!/docs/
!/docs/hgs-discord-community-qr.png
!/docs/hgs-research-analysis-example.png
!/docs/hgs-information-processing-example.png
!/docs/hgs-information-processing-detail.png
